:root {
  --white: #ffffff;
  --g10: #e8e8e8;
  --g20: #d1d1d1;
  --g30: #b5b5b5;
  --g40: #999999;
  --g50: #7a7a7a;
  --g60: #5e5e5e;
  --g70: #636363;
  --g80: #474747;
  --g90: #333333;
  --g100: #292929;
  --black: #000000;
}